<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <title>Users</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr class="table-danger">
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Âge</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr class="table-{% if loop.index0 is even %}dark{% elseif loop.index0 is odd %}light{% endif %}">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.age }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
</body>
</html>