
{% extends 'template.html.twig' %}

{% block mainTitle %}
Les utilisateurs
{% endblock %}

{% block title %}
Users
{% endblock %}

{% block body %}
{% include('fragments/date-jour.html.twig') %}
    <table class="table">
        <thead>
            <tr class="table-danger">
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Âge</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr class="table-{% if loop.index0 is even %}dark{% elseif loop.index0 is odd %}light{% endif %}">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.age }}</td>
        <td>
        {{ render(controller('App\\Controller\\FirstController::sayHello', {firstname : user.firstname, name : user.lastname})) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
