{% extends 'template.html.twig' %}

{% block body %}
    <h1>Vous avez visitée cette page {{app.session.get('nbVisite')}} fois</h1>
    <p>Mon URL absolue : {{ url('app_session') }}</p>
{% endblock %}

