{% extends 'template.html.twig' %}

{% block title %}
Liste de todo
{% endblock %}

{% block mainTitle %}
Liste de todo
{% endblock %}

{% block body %}
<h1>Liste des todos</h1>
<ol class="list-group">
    {% for name,content in app.session.get('todo') %}
        <li class="list-group-item">
        {{ name }} : {{ content }}
        </li>
    {% endfor %}
</ol>
{% endblock %}